altgraph==0.17.4
bottle==0.12.25
bottle-websocket==0.2.9
Eel==0.16.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
importlib_metadata==7.1.0
macholib==1.16.3
packaging==24.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pyparsing==3.1.2
pypng==0.20220715.0
PyQRCode==1.2.1
whichcraft==0.6.1
zipp==3.18.2
zope.event==5.0
zope.interface==6.4
